body{
    background-image: url("../images/campo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

.fuerza{
    width: 100px;
    height: 25px;
    background-color: cadetblue;
    margin-bottom: 10px;
}
.carga-fuerza{
    width: 1px;
    height: 25px;
    background-color: crimson;
}
.angulo{
    width: 90px;
    height: 25px;
    background-color: cadetblue;
    margin-bottom: 10px;
}
.carga-angulo{
    width: 1px;
    height: 25px;
    background-color: crimson;
}

.btn-fuerza-parada,.btn-angulo-parada, .btn-angulo, .btn-lanzar{
    display: none;
}

.puntuacion{
    display: none;
    position: absolute;
    background-color: white;
} 

.bola{
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    display: none;
}

#lanzador{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12%;
}
